* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  padding-top: 66px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #fff;
}

a {
  text-decoration: none;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: 3px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem;
  background: #007340;
  box-shadow: 0 20px 50px -20px #007340;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 3rem;
  color: #fff;
}
.nav-links {
  align-self: flex-end;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 2rem 0;
  color: #fff;
  transition: all 0.3s linear;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.nav-links a:hover {
  color: #af9a7d;
}

.show-nav {
  height: 150px;
}

.main {
  font-size: 2rem;
  color: gray;
  padding: 2rem;
  margin-top: 20px;
}

ul > li {
  list-style: none;
}

.main ul {
  display: flex;
}

.btn-add {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: grey;
  color: #fff;
}

.btn-add:first-of-type {
  margin-right: 4px;
}

.main > ul > li a:hover {
  cursor: pointer;
  background: #007340;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.main form label {
  display: grid;
  grid: 1fr/ max-content 1fr;
  grid-column-gap: 10px;
  margin-top: 30px;
}

select {
  color: #262;
  font-size: 1.5rem;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 4px;
  outline: none;
  border: 1px solid #262;
}

#textarea {
  padding: 2rem;
  color: #262;
  font-size: 1.5rem;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #262;
  outline: none;
  margin-top: 5px;
}

#tag-form {
  margin-top: 30px;
}

#tag-input {
  padding: 1rem;
  margin-left: 5px;
  color: #262;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #262;
  outline: none;
}

#tag-btn {
  white-space: nowrap;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  color: #fff;
  background-image: linear-gradient(#24cc32,#3cc76a);
  border: 1px solid #285f8f;
  border: none;
  cursor: pointer;
  outline: none;
  justify-content: center;
}

#list-name {
  display: grid;
  grid: 1fr/ repeat(3, max-content);
  grid-gap: 10px;
  margin-top: 8px;
}

#submit-form {
  margin-top: 40px;
}

.tag-name {
  border-radius: 5px;
  background: orange;
  padding: 5px 10px;
  color: #fff;
  white-space: nowrap;
}

.tag-name span{
  color: #900;
}

#search-form input {
  border-radius: 20px;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  background: transparent;
  color: #262;
  border: 1px solid #262;
}

#search-form input::placeholder {
  color: #ACA;
  font-weight: normal;
}

.main-home {
  display: grid;
  grid: max-content 1fr/1fr;
  grid-row-gap: 20px;
}

.card {
  display: grid;
  place-items: center center;
  place-content: center;
  color: #262;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1rem; 
}

.card p {
  padding: 0 10px;
}

.caption-list {
  display: grid;
  grid: auto-flow 310px / 1fr;
  grid-row-gap: 32px;
  list-style: none;
}

textarea:focus, input:focus {
	border: 2px solid #900;
}

.fa-icon {
  padding-top: 8px;
  height: 25px;
}

.submit-btn {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#24cc32,#3cc76a);
  border: 1px solid #285f8f;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100px;
  justify-content: center;
}

.fade-active {
  opacity: 1;
}

.fading {
  transition: opacity 1s ease-out;
}

@media screen and (min-width: 768px) {
  .nav-center {
    display: grid;
    grid: 1fr/ 1fr max-content;
    grid-column-gap: 10px;
    align-items: center;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .navbar, .main {
    padding: 4rem 4rem;
  }

  div.main {
    margin-top: 40px;
  }

  .caption-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
  }

  .btn-cap-add {
    display: grid;
    place-content: center center;
    margin-top: 20px;
  }

  .btn-cap-add li:first-of-type {
    margin-right: 10px;
  }

  .main .con-form {
    display: grid;
    place-content: center center;
    margin-top: 60px;
  }

  .main form label {
    display: grid;
    grid: 1fr/ max-content 1fr;
    grid-column-gap: 10px;
  }

  .main form label textarea {
    width: 500px;
  }
  
  .tag-btn {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .caption-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
